# Dependencies

uploads/
uploads/*/*/
*.jpg
*.jpeg
*.png
*.pdf
*.doc
*.docx

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local
.env.production
.env.development

# Logs
logs/
*.log
log.txt
