@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin modern scrollbar */
/* ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
} */